openapi: 3.1.0
info:
  title: Kevel APIs Ads Creatives API
  description: 'OpenAPI 3.1 description of the public Kevel ad-tech platform APIs covering

    the Decision API for ad requests, the Management API for advertisers,

    campaigns, flights, ads, creatives, sites, and zones, and the Reporting API

    for performance analytics. Endpoint shapes are derived from Kevel''s public

    developer docs at https://dev.kevel.com/ and the published API index at

    http://dev.kevel.com/llms.txt.

    '
  version: 1.0.0
  contact:
    name: Kevel
    url: https://www.kevel.com/
servers:
- url: https://api.kevel.co/v1
  description: Kevel Management API.
- url: https://e-{networkId}.adzerk.net
  description: Kevel Decision API (per network host).
  variables:
    networkId:
      default: '1'
      description: Your Kevel network ID.
security:
- ApiKeyAuth: []
tags:
- name: Creatives
  description: Manage creatives.
paths:
  /creative:
    get:
      tags:
      - Creatives
      summary: List creatives
      operationId: listCreatives
      responses:
        '200':
          description: A list of creatives.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Creative'
    post:
      tags:
      - Creatives
      summary: Create a creative
      operationId: createCreative
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Creative'
      responses:
        '200':
          description: Created creative.
  /creative/{id}:
    parameters:
    - $ref: '#/components/parameters/Id'
    get:
      tags:
      - Creatives
      summary: Get a creative
      operationId: getCreative
      responses:
        '200':
          description: A creative.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Creative'
    put:
      tags:
      - Creatives
      summary: Update a creative
      operationId: updateCreative
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Creative'
      responses:
        '200':
          description: Updated creative.
components:
  parameters:
    Id:
      name: id
      in: path
      required: true
      schema:
        type: integer
  schemas:
    Creative:
      type: object
      properties:
        Id:
          type: integer
        Title:
          type: string
        AdvertiserId:
          type: integer
        AdTypeId:
          type: integer
        ImageName:
          type: string
        Url:
          type: string
        Body:
          type: string
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-Adzerk-ApiKey
      description: Management/Reporting API key issued from the Kevel UI.
