openapi: 3.1.0
info:
  title: Kevel APIs Ads Zones API
  description: 'OpenAPI 3.1 description of the public Kevel ad-tech platform APIs covering

    the Decision API for ad requests, the Management API for advertisers,

    campaigns, flights, ads, creatives, sites, and zones, and the Reporting API

    for performance analytics. Endpoint shapes are derived from Kevel''s public

    developer docs at https://dev.kevel.com/ and the published API index at

    http://dev.kevel.com/llms.txt.

    '
  version: 1.0.0
  contact:
    name: Kevel
    url: https://www.kevel.com/
servers:
- url: https://api.kevel.co/v1
  description: Kevel Management API.
- url: https://e-{networkId}.adzerk.net
  description: Kevel Decision API (per network host).
  variables:
    networkId:
      default: '1'
      description: Your Kevel network ID.
security:
- ApiKeyAuth: []
tags:
- name: Zones
  description: Manage zones.
paths:
  /zone:
    get:
      tags:
      - Zones
      summary: List zones
      operationId: listZones
      responses:
        '200':
          description: A list of zones.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Zone'
  /zone/{id}:
    parameters:
    - $ref: '#/components/parameters/Id'
    get:
      tags:
      - Zones
      summary: Get a zone
      operationId: getZone
      responses:
        '200':
          description: A zone.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Zone'
    put:
      tags:
      - Zones
      summary: Update a zone
      operationId: updateZone
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Zone'
      responses:
        '200':
          description: Updated zone.
components:
  parameters:
    Id:
      name: id
      in: path
      required: true
      schema:
        type: integer
  schemas:
    Zone:
      type: object
      properties:
        Id:
          type: integer
        Name:
          type: string
        SiteId:
          type: integer
        IsDeleted:
          type: boolean
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-Adzerk-ApiKey
      description: Management/Reporting API key issued from the Kevel UI.
